<app-navbar></app-navbar>
<!-- <app-calculator></app-calculator> -->
 <!-- <h1 class="text-danger border border-3 mt-5 ms-3 me-2 p-3"> App component</h1>
<h2 class="text-warning-emphasis">{{title}}</h2> -->


<!-- <p>{{colors}}</p> -->

<!-- <p *ngFor="let c of colors">
    {{c}}
</p> -->

<!-- //for index no. -->
<!-- <p *ngFor="let c of colors; let i = index">
    {{i}} - {{c}}
</p> -->

<!-- <p *ngFor="let c of colors; let i = index; let f=first; let l=last;let ev=even;let od=odd">
    {{i+1}} - {{c}} -{{f}} -{{l}} - {{ev}} - {{od}}
</p> -->

<!-- <p *ngIf="age < 18">
    Adult
</p> -->


<!-- <p *ngIf="age < 18;then minor else major">
    Adult
</p>

<ng-template #minor><i>Minor<</i></ng-template>
<ng-template #major><i>Major</i></ng-template> -->

 <!-- <app-product-list></app-product-list>  -->

 <router-outlet></router-outlet>
